
@import url('https://fonts.googleapis.com/css?family=Cinzel');
table
{
font-family: Quicksand;
font-size: 25px;
font-weight: lighter;
width: 100%;
max-width: 1000px;
margin: 100px;
margin-left: auto;
margin-right: auto;
border-collapse: collapse;
}
table .h1
{
border-bottom: #ddd 1px solid;
height: 30px;
}
table .h1 th
{
padding: 20px;
color: #1473e6;
text-shadow: 2px 2px 5px black;
font-size: 25px;
font-weight: 400;
}
table th
{
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  width:25%;
  border-right: solid #3d567c 1px;
  text-shadow: 2px 2px 5px black;
}
#TEXT
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
  padding-left: 50px;
  max-width: 1200px;
}
.Tabelle_Weltrangliste tr:hover
{
  background-color: #3d567c;
  transition: background-color 1s;
}
.Tabelle_Weltrangliste tr
{
  background-color: none;
  transition: background-color 0.5s;
}
.Tabelle_Weltrangliste th
{
  text-align: center;
}
.table_border
{
  border-right: none;
}
.Taktikpic
{
  max-width: 700px;
}
#Footer_Schrift
{
  top: 20px;
}
#Scrollinfo
{
  display: block;
}
.Text_Bild
{
  width:1000px;
  margin-left:auto;
  margin-right:auto;
}
.TXCenter
{
  text-align: center;
}
#FooterInsta
{
  display: block;
}
#Gmail
{
  display: block;
}
h4
{
  font-family: Syncopate;
  width: 100%;
  max-width: 1200px;
  color: #ddd;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-shadow: 2px 2px 5px black;
}
h3
{
  font-size: 30px;
  position: relative;
  left: -20px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: Quicksand;
  text-shadow: 2px 2px 5px black;
  color:#757d8c;
  font-size: 35px;
  border-bottom: solid #3d567c 1px;
  font-weight: 500;
}
h2
{
  width: 100%;
  max-width: 1300px;
  font-family: Quicksand;
  text-align: center;
  font-size: 40px;
  font-weight: 200;
  color: rgb(20, 115, 230);
    text-shadow: 2px 2px 5px black;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    height: 60px;
    z-index: 4;
    border-bottom: 1px solid rgb(20, 115, 230);
    border-top: 1px solid rgb(20, 115, 230);
    background-image: linear-gradient(to right,transparent 0%,#3d567c 20%,#3d567c 80%,transparent 100%);
    margin-top: 100px;
}
h2 hr
{
  width: 1300px;
  color: rgb(20, 115, 230);
  position: relative;
  top: -15px;
}
h1
{
  font-style: italic;
  text-shadow: 2px 2px 5px black;
  border-bottom: double #3d567c 3px;
  width: 100%;
  max-width:1000px;
  margin-left:auto;
  margin-right: auto;
}
#IFVInstaDIV a span
{
  display: block;
}
#IFVInstaDIV
{
  background-color: white;
  border-radius: 5px;
  height: 30px;
  width:200px;
  position: fixed;
  color:black;
  cursor:pointer;
}
.InfoKasten20
{
	margin-left: 65%;
	margin-right: 50px;
	padding: 10px;
	background-image: url(Bilder/Home/Infokasten.jpg);
	color: #666464;
	text-align: center;
	font-family: Quicksand;
	border: 1px blue solid;
  background: #DDD;
 border-radius: 6px;
 -moz-border-radius: 6px;
 -webkit-border-radius: 6px;
 border-top: 1px solid #EEE;
 border-left: 1px solid #EEE;
 border-right: 1px solid #AAA;
 border-bottom: 1px solid #AAA;
 font-weight: 400;
 text-shadow: inset 1px 1px 0px black;
}
.InfoKasten20 p
{
  color: #666464;
   font-weight: 400;
}
.InfoKasten20 h2
{
  color: #3d567c;
  width: 100%;
  border: none;
  background-image: none;
  border-bottom: gray solid 1px;
  margin: 0;
  height: 30px;
  text-transform: uppercase;
  margin-top: 5px;
  padding: 0;
  padding-bottom: 5px;
  font-size: 25px;
  text-shadow: none;
  font-weight: 400;
  font-family: Prosto One;
}
.InfoKasten20:hover
{
  box-shadow: 5px 5px 10px black;
  transition: 1s;
  cursor: help;
}
.InfoKastenMitte
{
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-image: url(Bilder/Home/Infokasten.jpg);
	color: #666464;
	text-align: center;
	font-family: Quicksand;
	border: 1px blue solid;
  background: #DDD;
 border-radius: 6px;
 -moz-border-radius: 6px;
 -webkit-border-radius: 6px;
 border-top: 1px solid #EEE;
 border-left: 1px solid #EEE;
 border-right: 1px solid #AAA;
 border-bottom: 1px solid #AAA;
 font-weight: 400;
 text-shadow: inset 1px 1px 0px black;
}
.InfoKastenMitte p
{
  color: #666464;
   text-align: center;
   	font-family: Quicksand;
    font-weight: 400;
}
.InfoKastenMitte h2
{
  color: #3d567c;
  width: 100%;
  border: none;
  background-image: none;
  border-bottom: gray solid 1px;
  margin: 0;
  height: 30px;
  text-transform: uppercase;
  margin-top: 5px;
  padding: 0;
  padding-bottom: 5px;
  font-size: 25px;
  text-shadow: none;
  font-weight: 400;
  font-family: Prosto One;
}
.InfoKastenMitte h2 span
{
  font-family: Quicksand;
  font-weight: 400;
}
.InfoKastenMitte a
{
  color: black;
  font-weight: 300;
  text-shadow: none;
}
.InfoKastenMitte:hover
{
  box-shadow: 5px 5px 10px black;
  transition: 1s;
  cursor: help;
}
.InfoKasten20 div #Glanz1
{
  position:relative;
  background-color:white;
  height:50px;
  width:900px;
  transform: rotate(45deg);
  margin-top:200px;
  margin-left:200px;
  transition:2s;
  margin-left:-500px;
  opacity:0.2;
  transition: 2s, 0s;
  transition-delay: 0s, 2s;
  transition-property: margin-left, opacity;
}
.InfoKasten20:hover div #Glanz1
{
  margin-left: 200px;
  opacity:0;
}
p
{
  width:100%;
  text-align: left;
  font-weight: 300;
}
ul
{
  margin:0;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: white;
  font-family: Quicksand;
  font-weight: 300;
  list-style: circle;
  line-height: 2;
}
.Textlinks
{
  font-style: italic;
  font-weight: 300;
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 5px 5px 10px black;
  border-bottom: solid 1px #3d567c;
  height: 17px;
}
.Textbilder
{
  max-width: 1000px;
  width: 100%;
  box-shadow: 5px 5px 10px black;
  opacity: 0.8;
  margin-top: 100px;
  margin-bottom: 100px;
}
#DFBPokal
{
	width:100px;
	margin-left: 50px;
	margin-right: 200px;
  float: right;
}
footer
{
	width: 1400px;	/*Home:1200/Sportarten:1400*/
	height:160px;
	margin-top:120px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #201E1E;
	color:white;
	background-image: url("Bilder/Footer1.jpg");
	background-size: 100%;
	box-shadow: inset 0px 5px 10px black;
	top: 0px;
}
.FooterP
{
	color:white;
	margin: 0;
	padding: 0;
	float: right;
	font-weight: bold;
	font-family: Prosto One;
  width: 300px;
}
.FooterP:hover
{
	color:#1473e6;
}
.FooterLo
{
	margin-top:10px;
	float: right;
	margin-right:20px;
}
.SchrÜFooter
{
	margin-top:75px;
	margin-left:567px;
}
#Impressum
{
  text-align: center;
}
#Spielball
{
	width:30%;
}
#Pfad
{
  font-family: Quicksand;
  color: black;
  position: fixed;
  width: 300px;
  height: 50px;
  margin-left: 20px;
  line-height: 30px;
  cursor: pointer;
  color: #1473e6;
}
#Pfad span
{
  opacity: 0;
  border-bottom: 1px solid #232a34;
  color: black;
}
#Pfad:hover span
{
  opacity: 1;
  transition: 1s;
}
#Pfad a
{
  color: #1473e6;
  text-decoration: none;
}
#Pfad a:hover
{
  color: white;
}
.h2_Space
{
  width: 100%;
  height: 0px;
}
.Unterlinks
{
  width:100%;
  color:white;
  font-family: Quicksand;
  font-size:18px;
  border-radius:5px;
  float:left;
  cursor:pointer;
  margin:10px;
  margin-left:20px;
}
.Unterlinks_H
{
  width:100%;
  color:white;
  font-family: Syncopate;
  font-size:18px;
  float:left;
  cursor:pointer;
  margin:10px;
  margin-left:20px;
  border-bottom: solid #3d567c 1px;
  text-transform: uppercase;
}
.firstletter
{
  font-size: 27px;
  font-family: Cinzel;
  font-style: bold;
}
#TX_Unterlinks
{
  width: 100%;
  height: 80px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -1080px;
  display: flex;
  justify-content: space-around;
}
.TX_Unterlink
{
  width: 400px;
  float: left;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 90px;
  transition: 1s;
}
.TX_Unterlink:hover h1
{
  color: #ddd;
  cursor: pointer;
}

.TX_Unterlink h1
{
  border: none;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
  position: relative;
  text-shadow: none;
  text-transform: uppercase;
  color: white;
  text-shadow: 5px 5px 10px black;
}
.TX_Unterlinks_ALL
{
  text-align: center;
  overflow: hidden;
  height: 600px;
  width: 100%;
  border-top: solid 1px gray;
}
#TX_Unterlink_Fall
{
  font-family: Syncopate;
  width: 90%;
  max-width: 1500px;
  background-color: white;
  position: relative;
  top: -1000px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  background-color: transparent;
  box-shadow: 0px 0px 30px black;
  border: 1px solid white;
  color: white;
}
.TX_Unterlinks_ALL img
{
  width: 100%;
  filter:grayscale(80%);
  clip: rect(0px 0px 500px 0px);
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}
#TX_Unterlink_Fall h4
{
  color: black;
  font-size: 25px;
  font-weight: bold;
}
#TX_Unterlink_Fall h4:hover
{
    text-shadow: 2px 2px 5px gray;
    cursor: pointer;
}
#TX_Unterlink_Fall h4 a
{
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
}
.ListeText
{
  padding-left: 100px;
  line-height: 35px;
  color: white;
  text-shadow: 1px 1px 3px black;
}
.ListeText li::before {
  content: "-";
  padding-right: 8px;
  color: gray;
}
.ListeText li
{
  list-style: none;
}
#HighwayJogger
{
  width:75%;
  margin-left:12%;
}
#WaldJoggerin
{
  width:75%;
  margin-left:12%;
}
#HighwayJoggerH
{
  width:65%;
  margin-left: 17%;
}
#HighwayJoggerT
{
  width:30%;
  margin-left: 5%;
  margin-bottom: 90px;
}
#LaufsportBergsprints
{
  width:65%;
  float:left;
}
#Wettkampfstart
{
  width:75%;
  margin-left: 12%;
}
#Frauenlaufen
{
  width:50%;
  margin-left: 25%;
  margin-top: 50px;
}
#Autobahnlauf
{
  width:75%;
  margin-left: 12%;
}
#LaufSmartwatch
{
  width:30%;
  margin-left:5%;
  margin-bottom: 20px;
}
#ErFleischFillet
{
  width:20%;
  margin-top: 100px;
}
.AbsatznebenInfolauf
{
  width:65%;
  margin-left: 0;
  float:left;
}
.TextLinkBold
{
  color:white;
  font-weight: bold;
}
.TextLinkBold a:hover
{
  color:blue;
}
ol
{
  margin:0;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: white;
  font-family: Quicksand;
  font-weight: 300;
  line-height: 2;
}
.Absatz65
{
  width:65%;
  margin-left: 0;
  float:left;
}
.Absatz50
{
  width:45%;
  float:left;
}
.Bild30
{
  width:30%;
  margin-left:5%;
}
.Bild75zentrum
{
  width:75%;
  margin-left:12%;
}
.FußAusIntt
{
  margin-left: 25%;
}
.Bild50zentrum
{
  width:50%;
  margin-left:25%;
}
.Bild50
{
  width: 50%;
  margin-left: 5%;
}
.Bild100
{
  width:100%;
}
